/* Imports */
@import url("https://fonts.googleapis.com/css2?family=Creepster&display=swap");

/* Root Variables */
:root {
  --primary-color: #ff3f00;
  --secondary-color: #ff7f11;
  --background-color: #beb7a4;
  --primary-text-color: #000000;
  --secondary-text-color: #ffffff;
  --font-family-body: "Roboto", sans-serif;
}

body {
  font-family: var(--font-family-body);
  background-color: var(--background-color);
  font-size: 16px;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

label {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0;
  color: var(--primary-text-color);
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.background {
  background-color: var(--background-color);
}

.cover {
  width: 100%;
  height: 100%;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.creepster-regular {
  font-family: "Creepster", system-ui;
  font-weight: 400;
  font-size: 2rem;
  font-style: normal;
}

.row {
  display: flex;
  align-items: center;
  height: fit-content;
  gap: 1rem;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.button {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 0.25rem;
  border: none;
  height: 2.5rem;
}

#login {
  background-color: var(--secondary-color);
  color: var(--primary-text-color);
  max-width: 20rem;
  min-width: 15rem;
  padding: 0.5rem 1rem;
}

/* -------------------------------------------------------------------- */

/* Navigation Bar */

/* -------------------------------------------------------------------- */
nav {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  background-color: var(--background-color);
  padding: 0.25rem 1rem;
  height: 3rem;
}

.icon {
  height: 1.5rem;
}

#Icon {
  height: 3rem;
}

#logout {
  background-color: var(--primary-color);
  color: var(--secondary-text-color);
  padding: 0.5rem 1rem;
}

#highscore {
  background-color: var(--secondary-color);
  color: var(--primary-text-color);
  padding: 0.5rem 1rem;
}

/* ---------------------------------------------------------------- */

/* Background  images */

/* ---------------------------------------------------------------- */
#top-left {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

#top-right {
  position: absolute;
  top: 0;
  right: -1%;
  z-index: -1;
}

#bottom-left {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}

#bottom-right {
  position: absolute;
  bottom: 0;
  right: -1%;
  z-index: -1;
}

#center {
  position: absolute;
  top: 0;
  left: calc(
    50% - (374px / 2)
  ); /* Width of the image, divided by 2 to place it in the perfect center */
  z-index: -1;
}

@media (max-width: 800px) {
  #top-right,
  #bottom-left,
  #center {
    display: none;
  }
}

/* ---------------------------------------------------------------- */

#GameBoard {
  margin-top: 7%;
  min-width: 37.5rem;
  display: flex;
  align-items: center;
  height: fit-content;
  background-color: var(--background-color);
}

@media (min-width: 800px) {
  #GameBoard {
    width: fit-content;
  }
}

/* Tiles */
/*-------------------------------------------------------------------------*/
.tile {
  max-width: 3.75rem;
  max-height: 3.75rem;
  min-width: 1.25rem;
  min-height: 1.25rem;
  background-color: var(--primary-color);
  border-color: var(--secondary-color);
}

#safe{
  background-color: var(--secondary-text-color);
}

#number{
  background-color: var(--background-color);
  font-family: var(--font-family-body);
  color: var(--primary-text-color);
}

#newspaper{
  background-color: var(--background-color);
  background-image: url('C:\Users\bbdnet3055\Desktop\Grad Programme\Html & css\SpiderSweeper\client\public\icons\newspaper.svg');
}

#flower{
  background-color: var(--background-color);
  background-image: url('C:\Users\bbdnet3055\Desktop\Grad Programme\Html & css\SpiderSweeper\client\public\icons\flower.svg');
}

#spider{
  background-color: var(--background-color);
  background-image: url('C:\Users\bbdnet3055\Desktop\Grad Programme\Html & css\SpiderSweeper\client\public\icons\gameboard_spider.svg');
}

#splat{
  background-color: var(--background-color);
  background-image: url('C:\Users\bbdnet3055\Desktop\Grad Programme\Html & css\SpiderSweeper\client\public\icons\splat.svg');
}