
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #BEB7A4;
}

/* Table */
/*-------------------------------------------------------------------------*/
table, th, td {text-align: center;}

table {
  margin-left: 25%;
  width: 50%;
  border-collapse: collapse;
}

th, td {
  padding: 2%;
  border-bottom: 1px solid #FF3F00;
}

th {height: 40px;}

tr:hover {background-color: coral;}

/* Navigation Bar */
.topnav {
  background-color: #BEB7A4;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;    
}

.topnav-right {
  float: right;
}

#Logout{
  background-color: #FF3F00;
  color: white;
  padding: 20%;
  border: none;
}

#PlayGame{
  background-color: #FF7F11;
  color: black;
  padding: 2%;
  border: none;
  width: 100px;
}

.Icon{
height: 2em;
border-radius: 50px;
}

#Username{
margin: auto;
}


/* Gameboard */
/*-------------------------------------------------------------------------*/
#gameboard{
margin-left: 25%;
}

.board {
display: inline-block;
margin: 20px;
}

.cell {
width: 2em;
height: 2em;
border: 1px solid #ccc;
display: inline-block;
text-align: center;
vertical-align: middle;
font-size: 2em;
cursor: pointer;

/* Default color for unrevealed tiles */
background-color: #FF1F00;

/* Default color for unrevealed tile text */
color: #333;
}
.revealed {
/* Color for revealed tiles */
background-color: #BEB7A4;

/* Color for revealed tile text */
color: #000;
}
.mine {
/* Color for mines */
background-image: url("Spider.png");
}

