body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #beb7a4;
}

/*-------------------------------------------------------------------------*/

/* Table */

/*-------------------------------------------------------------------------*/
table,
td {
  text-align: center;
}
.HighScoreText {
  text-align: left;
}

table {
  margin-left: 25%;
  width: 50%;
  border-collapse: collapse;
}

td {
  padding: 2%;
  border-bottom: 0.0625rem solid #ff3f00;
  border-top: 0.0625rem solid #ff3f00;
}

tr:hover {
  background-color: coral;
}

/* Navigation Bar */
.topnav {
  background-color: #beb7a4;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav-right {
  float: right;
}

#Logout {
  background-color: #ff3f00;
  color: white;
  padding: 20%;
  border: none;
}

#PlayGame {
  background-color: #ff7f11;
  color: black;
  padding: 2%;
  border: none;
  width: 100px;
}

.Icon {
  height: 2em;
  border-radius: 50px;
}

#Username {
  margin: auto;
}

/* Gameboard */
/*-------------------------------------------------------------------------*/
#gameboard {
  margin-left: 25%;
}

.board {
  display: inline-block;
  margin: 20px;
}

.cell {
  width: 2em;
  height: 2em;
  border: 1px solid #ccc;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  font-size: 2em;
  cursor: pointer;

  /* Default color for unrevealed tiles */
  background-color: #ff1f00;

  /* Default color for unrevealed tile text */
  color: #333;
}
.revealed {
  /* Color for revealed tiles */
  background-color: #beb7a4;

  /* Color for revealed tile text */
  color: #000;
}
.mine {
  /* Color for mines */
  background-image: url("Spider.png");
}

/* Tiles */
/*-------------------------------------------------------------------------*/
.tile {
  max-width: 3.75rem;
  max-height: 3.75rem;
  min-width: 1.25rem;
  min-height: 1.25rem;
  background-color: #ff1f00;
  border-color: #ff7f11;
}

#safe {
  background-color: white;
}

#number {
  background-color: #beb7a4;
  color: black;
}

#newspaper {
  background-color: #beb7a4;
  background-image: url("C:\Users\bbdnet3055\Desktop\Grad Programme\Html & css\SpiderSweeper\client\public\icons\newspaper.svg");
}

#flower {
  background-color: #beb7a4;
  background-image: url("C:\Users\bbdnet3055\Desktop\Grad Programme\Html & css\SpiderSweeper\client\public\icons\flower.svg");
}

#spider {
  background-color: #beb7a4;
  background-image: url("C:\Users\bbdnet3055\Desktop\Grad Programme\Html & css\SpiderSweeper\client\public\icons\gameboard_spider.svg");
}

#splat {
  background-color: #beb7a4;
  background-image: url("C:\Users\bbdnet3055\Desktop\Grad Programme\Html & css\SpiderSweeper\client\public\icons\splat.svg");
}
